#header {
    background-color:rgb(41,41,41);
    color:white;
    text-align:center;
    padding:5px;
    font-family:"Georgia", Times, serif;
}
#nav {
    line-height:30px;
    background-color:rgb(222,222,222);
    width:200px;
    float:left;
    padding:10px;
    font-family:"Tahoma", Geneva, sans-serif;
}
#section {
    width:700px;
    float:left;
    padding:10px;
}
#footer {
    background-color:rgb(41,41,41);
    color:white;
    clear:both;
    text-align:center;
    padding:10px;
}
#about {
    background-color:rgb(222,222,222);
    width:200px;
    float:right;
    padding:30px;
    font-family:"Tahoma", Geneva, sans-serif;
}
.post{
    box-shadow:0 4px 8px;
    color:black;
//    margin:20px;
//    padding:20px;
    font-family:"Arial", Helvetica, sans-serif;
}
.post-title{
    background-color:#1E90FF;
}
.post-subject{
    margin:10px;
    padding:10px;
}
.post-content{
    margin:20px;
    padding:5px
}
.post-end{
     font-size:6px;
}
